@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

:root {
  --color-primary: #ff5a5f; /* Coral - Absent */
  --color-secondary: #00a699; /* Green - Present */
  --color-accent: #fc642d; /* Orange - Accent for UI highlights */

  --color-leave: #9b59b6; /* Purple - Leave main color */
  --color-leave-bg: #f4e9f9; /* Light purple tint for leave background */

  --color-bg: #ffffff; /* White */
  --color-bg-alt: #f7f7f7; /* Light Grey */

  --color-text: #484848; /* Charcoal Text */
  --color-text-muted: #767676; /* Muted Text */

  --color-border: #ebebeb; /* Light Border */
  --color-hover: #ff7e82; /* Coral Hover */
}

.simple-calendar {
  width: 100%;
  background: var(--color-bg);
  border: none !important;
  font-size: 14px;
  color: var(--color-text);
}

.calendar-present {
  background-color: var(--color-secondary) !important;
  color: var(--color-bg) !important;
  font-weight: bold;
}

.calendar-absent {
  background-color: var(--color-primary) !important;
  color: var(--color-bg) !important;
  font-weight: bold;
}

.calendar-leave {
  background-color: var(--color-leave) !important;
  color: var(--color-bg) !important;
  font-weight: bold;
  box-shadow: 0 0 4px var(--color-leave-bg);
}

.calendar-weekend {
  border-radius: 0px !important;
  background-color: var(--color-bg-alt) !important;
  color: var(--color-text-muted) !important;
}

.react-calendar__tile {
  padding: 6px;
  text-align: center;
  transition: 0.2s;
}

.react-calendar__tile:hover {
  background-color: var(--color-hover);
  color: var(--color-bg);
  cursor: pointer;
}
